@charset "utf-8";
$adyenmanagementbackoffice-container-background: var(--bo-base-background);
$adyenmanagementbackoffice-container-font-family: var(--bo-font-family);
$adyenmanagementbackoffice-container-font-size: $font-size__base;
$adyenmanagementbackoffice-label-text-color: var(--bo-text-color);
