@charset "utf-8";
@import "./support/adyendigitalpaymentbackofficewidget-variables.scss";

.yw-labelstyle
{
	color: $adyendigitalpaymentbackoffice-label-text-color;
}

.adyendigitalpaymentbackoffice-container {
	background: $adyendigitalpaymentbackoffice-container-background;
	font-family: $adyendigitalpaymentbackoffice-container-font-family;
	font-size: $adyendigitalpaymentbackoffice-container-font-size;
}
