@charset "utf-8";
$adyendigitalpaymentbackoffice-container-background: var(--bo-base-background);
$adyendigitalpaymentbackoffice-container-font-family: var(--bo-font-family);
$adyendigitalpaymentbackoffice-container-font-size: $font-size__base;
$adyendigitalpaymentbackoffice-label-text-color: var(--bo-text-color);
