@charset "utf-8";
$adyensapdigitalpaymentbackoffice-container-background: var(--bo-base-background);
$adyensapdigitalpaymentbackoffice-container-font-family: var(--bo-font-family);
$adyensapdigitalpaymentbackoffice-container-font-size: $font-size__base;
$adyensapdigitalpaymentbackoffice-label-text-color: var(--bo-text-color);
